<center>
  <div class="container-survey">
    <h2>Survey</h2>
    <p>Please choose a survey</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to "Imporving Human Values", improving_human_values_path %></td>
        </tr>
      </tbody>
    </table>
  </div>
</center>
