<footer class="footer">

    <!--/.footer-->
    <div class="footer-bottom">
        <div class="container">
            <ul>
                <a href="http://vitalprojex.com/">
                    <li><%=image_tag("WEBSITE-ICON.png")%></li>
                </a>
                <a href="http://vimeo.com/user5104885">
                    <li><%=image_tag("VIMEO-ICON.png")%></li>
                </a>
            </ul>

            <p>
                Character Snapshot
            </p>
            <p id="sub-text">
                &copy; 2015 Vital Projects Australia Trust - All rights reserved.
            </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
